@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League-Spartan", sans-serif;
}

:root {
  --primary-color: #ff0000;
  --secondary-color: #333333;
  --background-color: black;
  --text-color: #000000;
  --card-background: #ffffff;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
  display: grid;
  place-items: center;
}

.topbar {
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 25px;
  z-index: 5;
}

.topbar .logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--card-background);
}

.topbar a {
  background-color: var(--primary-color);
  color: var(--card-background);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.artist-name {
    font-size: 30px;
}

.artist-image {
    width: 40%;
}

.artist-details {
  margin: 25px auto 0;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 20px;
}

.artist-details div {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.artist-details div h3 {
    margin: 0 auto 10px;
}
