@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

:root {
  --primary-color: #ff0000;
  --secondary-color: #333333;
  --background-color: black;
  --text-color: #000000;
  --card-background: #ffffff;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  display: grid;
  place-items: center;
}

header {
  width: 100%;
}

.topbar {
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 25px;
  z-index: 5;
}

.topbar .logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--card-background);
}

.topbar a {
  background-color: var(--primary-color);
  color: var(--card-background);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.container {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto 20px;
}

.container .left-side,
.container .right-side {
  padding: 10px;
}

.container .left-side {
  width: 40%;
  display: grid;
  place-items: center;
  text-align: center;
  row-gap: 20px;
}

.container .left-side .artist-name {
  font-size: 40px;
}

.container .left-side .artist-image {
  aspect-ratio: 1/1;
}

.container .left-side p {
  font-size: 20px;
}

.container .line {
  background-color: #000000;
  width: 2px;
  height: 50vh;
  position: absolute;
  top: 25%;
  left: 50%;
}

.container .right-side {
  display: grid;
  place-items: center;
  text-align: center;
}

.container .right-side .artist-details {
  display: grid;
  row-gap: 20px;
}

.container .right-side .artist-details .locations h3,
.container .right-side .artist-details .dates h3,
.container .right-side .artist-details .relation h3 {
  font-size: 30px;
  color: #ff0000;
}

.container .right-side .artist-details .locations ul li,
.container .right-side .artist-details .dates ul li,
.container .right-side .artist-details .relation ul li {
  font-size: 20px;
}
