<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/styles2.css">
    <link rel="stylesheet" href="/static/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="topbar">
        <div class="logo">Groupie Tracker</div>
        <div class="search-container">
            <input type="text" class="search-input" id="search-input" placeholder="Search artist...">
            <button class="search-button">
                <i class="fas fa-search"></i> Search
            </button>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <h2 class="animated fadeInLeftBig"><i class="fa fa-music"></i> Explore Favorite Artists!</h2>
            <h3 class="animated fadeInRightBig">Groupie Trackers brings you closer to the music you love.</h3>
        </div>
    </div>
    <div class="main-content">
        <div class="content-tabs">
            <a href="#content-grid" class="tab active" id="artists-btn">Artists</a>
            <a href="#" class="tab" id="about-btn">About</a>
        </div>
        <div class="content-grid" id="content-grid">
            {{range .Artists}}
            <a href="/artist/{{.ID}}" class="content-card">
                <img src="{{.Image}}" alt="{{.Name}}" class="content-poster">
                <div class="content-info">
                    <h3 class="content-title">{{.Name}}</h3>
                </div>
            </a>
            {{end}}
        </div>
    </div>
    <script src="/static/scripts2.js"></script>
    <script>
        window.addEventListener('scroll', function() {
            const topbar = document.querySelector('.topbar');
            const mainContent = document.querySelector('.main-content');
            const mainContentTop = mainContent.offsetTop;

            if (window.scrollY >= mainContentTop) {
                topbar.classList.add('scrolled');
            } else {
                topbar.classList.remove('scrolled');
            }
        });
    </script>
</body>
</html>
