<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/styles_details.css" />
    <link rel="stylesheet" href="/static/animation.css" />

    <title>Artist Details</title>
  </head>
  <body>
    <nav class="topbar">
      <div class="logo">Groupie Tracker</div>

      <a href="/artists">Back to Artists</a>
    </nav>

    <h2 class="artist-name">{{.Artist.Name}}</h2>
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" class="artist-image" />

    <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
    <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>

    <p><strong>
      Members:</strong> {{range $index, $element := .Artist.Members}} {{if $index}},
      {{end}}{{$element}} {{end}}
    </p>

    <div class="artist-details">
      <div class="locations">
        <h3>Concert Locations</h3>
        <ul>
          {{range $location := .Relation.Locations}}
          <li>{{$location}}</li>
          {{end}}
        </ul>
      </div>

      <div class="dates">
        <h3>Dates</h3>
        <ul>
          {{range $dates := .Relation.Dates}}
          <li>
            <ul>
              {{range $dates}}
              <li>{{.}}</li>
              {{end}}
            </ul>
          </li>
          {{end}}
        </ul>
      </div>

      <div class="relation">
        <h3>Relations</h3>
        <ul>
          {{range $location, $dates := .Relation.DatesLocations}}
          <li>
            <h4>{{$location}}</h4>
            <ul>
              {{range $dates}}
              <li>{{.}}</li>
              {{end}}
            </ul>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </body>
</html>
